/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL FONTS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");

/* THEME VARIABLES (LIGHT MODE DEFAULT) */
:root {
  --bg: rgb(243, 244, 247);
  --bg-white: rgb(255, 255, 255);
  --txt-white: rgb(255, 255, 255);
  --txt-dark: #333;
  --light-txt: #555;
  --border: #ccc;
  --border-2: #ccc;
  --song-item: rgba(0, 0, 0, 0.125);
  --song-item-hover: rgba(0, 0, 0, 0.325);
  --poet: #424242;
  --webkit-scrollbar-track-bg: #f1f1f1;
  --webkit-scrollbar-thumb-bg: #888;
  --accent: #22abc1;
  --accent-hover: #1e98aa;
  --icon-color: #666;
  --icon-color-hover: #4b4b4b;
  --signup-bg: #f8d7da;
  --signup-color: #721c24;
  --upload-success-bg: #e8f5e9;
  --upload-error: #f44336;
  --upload-error-bg: #ffebee;
  --logout-button: rgb(255, 113, 19);
  --logout-button-hover: rgb(237, 95, 0);
  --heart: rgb(255, 0, 0);
  --form-group-hover: #c9f9ff;
  --txt: #000000;
  --nav-item-hover: rgb(238, 238, 238);


  /* --header-bg: #f8f8f8;
  --card-bg: #ffffff;
  --text: #000000;
  --text-light: #444;
  
  --outline: #f3f4f7; */
}

/* DARK THEME */
[data-theme="dark"] {
  --bg: rgb(26, 26, 27); /* Done*/
  --bg-white: rgb(33, 35, 36); /* Done*/
  --txt-white: rgb(255, 255, 255);
  --txt-dark: #333;
  --light-txt: #555;
  --border: #ccc;
  --border-2: #ccc;
  --song-item: rgba(0, 0, 0, 0.125);
  --song-item-hover: rgba(0, 0, 0, 0.325);
  --poet: #424242;
  --webkit-scrollbar-track-bg: #f1f1f1;
  --webkit-scrollbar-thumb-bg: #888;
  --accent: #22abc1;
  --accent-hover: #1e98aa;
  --icon-color: rgb(166,170,175); /* Done*/
  --icon-color-hover: rgb(215, 218, 222); /* Done*/
  --signup-bg: #f8d7da;
  --signup-color: #721c24;
  --upload-success-bg: #e8f5e9;
  --upload-error: #f44336;
  --upload-error-bg: #ffebee;
  --logout-button: rgb(255, 113, 19);
  --logout-button-hover: rgb(237, 95, 0);
  --heart: rgb(255, 0, 0);
  --form-group-hover: #c9f9ff;
  --txt: rgb(232, 233, 233); /* Done*/
  --nav-item-hover: rgb(42, 45, 45); /* Done*/
}

/* APPLY GLOBAL VARIABLES */
body {
  background-color: var(--bg);
  font-family: "Comfortaa", Arial, sans-serif;
}

/* Ensure root container fills screen */
body,
#root {
  width: 100%;
  min-height: 100vh;
}
