.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.wrapper h1 {
  margin-top: 10px;
  color: #22abc1;
}

.songCard {
  margin: 10px;
  padding: 15px;
  background: white;
  /* border: 1px solid #ddd; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.songCard:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.325);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.writer {
  color: #666;
  font-size: 0.9em;
}
