.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: var(--txt);
}

.wrapper h1 {
  margin-top: 10px;
  color: var(--accent);
}

.songCard {
  margin: 10px;
  padding: 15px;
  background: var(--bg-white);
  /* border: 1px solid #ddd; */
  box-shadow: 0 2px 4px var(--song-item);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.songCard:hover {
  box-shadow: 0 2px 4px var(--song-item-hover);
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.writer {
  color: var(--light-txt);
  font-size: 0.9em;
}

/*   SMALL BADGE IN TOP-RIGHT OF SONG ITEM       */
