@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

* {
    margin: 0;
    color: white;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background: white;
}

body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    cursor: pointer;
}

header {
    height: 90px;
    min-width: 300px;
    width: 100%;
    top: 0;
    margin-bottom: 10px;
    position: fixed;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background: white;
    z-index: 3;
}

.logo {
    width: 250px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header img{
    width: 100%;
}

a {
    text-decoration: none;
  }


.mainWrapper {
    max-width: 1200px;
    /* width: 100%; */
    margin-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    top: 50px;
    display: flex;
    align-items: center;
}

.main {
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
    margin-top: 5px;
    padding: 20px;
    margin: 5px;
    /* margin-right: 10px; */
    border-radius: 5px;
}

.main p{
    color: black;
}

.main::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.material-icons-outlined {
    font-size: 40px !important;
    cursor: pointer;
    color: white;
}

.title {
    color: rgb(191, 148, 138);
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    margin-bottom: 30px;
}

.main p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2;
}


.subtitle {
    color: black;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.main .email-link {
    color: rgb(191, 148, 138);
    text-decoration: underline; 
    font-weight: bold; 
    font-size: 20px;
}

.main .email-link:hover {
    color: rgb(209, 162, 151);
    text-decoration: none;
}



  


