@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@500&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 244, 247);
  font-family: "Comfortaa", Arial, sans-serif, Helvetica;
}

.App {
  width: 100%;
  height: 100%;
}

.content {
  margin-top: 60px; /* Same height as the header to push content below it */
}

/* Header styles */
.App-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Responsive menu toggle */
.nav-toggle {
  display: none;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}

/* Media Query for Responsive Adjustment */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    width: 300px;
    transform: translateX(100%);
    transition: transform 0.3s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-toggle {
    display: flex;
  }
}
