/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* GLOBAL FONTS */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");

/* THEME VARIABLES (LIGHT MODE DEFAULT) */
:root {
  --bg: rgb(243, 244, 247);
  --bg-white: rgb(255, 255, 255);
  --txt-white: rgb(255, 255, 255);
  --txt-dark: #333;
  --light-txt: #555;
  --border: #ccc;
  --border-2: #ccc;
  --song-item: rgba(0, 0, 0, 0.125);
  --song-item-hover: rgba(0, 0, 0, 0.325);
  --poet: #424242;
  --webkit-scrollbar-track-bg: #f1f1f1;
  --webkit-scrollbar-thumb-bg: #888;
  --accent: #22abc1;
  --accent-hover: #1e98aa;
  --icon-color: #666;
  --icon-color-hover: #4b4b4b;
  --signup-bg: #f8d7da;
  --signup-color: #721c24;
  --upload-success-bg: #e8f5e9;
  --upload-error: #f44336;
  --upload-error-bg: #ffebee;
  --logout-button: rgb(255, 113, 19);
  --logout-button-hover: rgb(237, 95, 0);


  --header-bg: #f8f8f8;
  --card-bg: #ffffff;
  --text: #000000;
  --text-light: #444;
  
  --outline: #f3f4f7;
}

/* DARK THEME */
[data-theme="dark"] {
  --bg: #0e0e0e;
  --header-bg: #111;
  --card-bg: #181818;
  --text: #ffffff;
  --text-light: #dddddd;
  --accent: #53a9be;
  --outline: #181818;
}

/* APPLY GLOBAL VARIABLES */
body {
  background-color: var(--bg);
  font-family: "Comfortaa", Arial, sans-serif;
}

/* Ensure root container fills screen */
body,
#root {
  width: 100%;
  min-height: 100vh;
}
